/* line 1, static/styles.scss */
body {
  /* color: red; */ }

/* line 5, static/styles.scss */
h1 {
  color: brown; }

/* line 9, static/styles.scss */
h2 {
  color: #003eaacf; }

/* line 13, static/styles.scss */
.owner-img {
  max-width: 250px;
  max-height: 250px; }
  /* line 16, static/styles.scss */
  .owner-img img {
    width: -webkit-fill-available; }
