<!DOCTYPE html>
{% load static %}
{% load compress %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<html>
	<head>
		<!-- <link rel="stylesheet" type="text/css" href="{% static 'styles.scss' %}">  -->
		<link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}">
		<link type="text/css" href="{% static 'headers.css' %}" rel="stylesheet" media="screen">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ingrid+Darling&display=swap" rel="stylesheet">
		{% compress css %}
			<link type="text/x-scss" href="{% static 'styles.scss' %}" rel="stylesheet" media="screen">
		{% endcompress %}
		{% block header %}
		{% endblock %}
	</head>
	<body>
		<header class="px-4 pt-3 pb-0 mb-3 bg-dark text-white d-flex flex-wrap justify-content-between border-bottom">		
			<div class="d-flex pb-3">
				<ul class="nav align-items-end col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
					<li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
					<li><a href="#" class="nav-link px-2 text-white">Features</a></li>
					<li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
					<li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
					<li><a href="#" class="nav-link px-2 text-white">About</a></li>
				</ul>
			</div>

			<div>
				<a class="ml-4" href="/home">
					<img class="header-img" src="{% static 'img/download_no_bg.png' %}" alt="pet-img">
				</a>
				<a class="" href="/home">
					<h2 class="header-tittle">Pet Memory</h2>
				</a>
			</div>
		
			{% if user.is_authenticated %}
				<div class="d-flex flex-column justify-content-end">
					<p style="color: rgb(214, 188, 40);">YOU'RE LOGGED</p>
					<p>
						<a style="color: rgb(210, 94, 21);font-weight: bold;" href=" {% url 'logout' %}">LOG OUT HERE</a>
					</p>
				</div>
			{% else %}
				<div class="d-flex align-items-end pb-3">
					<a href="{% url 'login' %}">
						<button type="button" class="btn btn-outline-light me-2">Login</button>
					</a>
					<a href="{% url 'signup' %}">
						<button type="button" class="btn btn-warning">Sign-up</button>
					</a>
					<!-- <button type="button" class="btn btn-warning">Sign-up</button> -->
				</div>
			{% endif %}
		</header>
		{% block content %}
		{% endblock %}

		{% block codigojs %}
		{% endblock codigojs %}
    </body>
</html>