{% load static %}
{% block content %}
    {% for pet_owner in pet_owners %} <!-- I don't see the issue here; pet_owner is defined in the project views file, and it references a valid class in the app models file -->
        <a href="{% url 'owner_profile' slug=pet_owner.slug %}">{{ pet_owner.first_name }}</a> <!-- it is not hitting the owner_profile url-->
        <table>
            {% for pet in pet_owner.pets.all %}
                <tr>
                    <td>{{ pet.name }}</td>
                    <td>{{ pet.age }}</td>
                    <td>{{ pet.animaltype }}</td>
                    <td>breed</td>
                    <td>photos</td>
                    <td>stories</td>
                </tr>
            {% endfor %}
        </table>
    {% endfor %}
	{% for pet_photo in pet_photos %}
		<img src="{{ pet_photo.url }}">
    {% endfor %}
{% endblock %}