{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}
    <h2>{{ owner.first_name }}</h2>
    <h3>{{ owner.age }}</h3>
    <h2>{{ owner.location }}</h2>
    <p>{{ owner.profile_photo }}</p>

    <div class="owner-img"><img src="{{ owner.profile_photo.url }}" alt="{{ owner.profile_photo }}"></div>
    {% for pet in owner.pets.all %}
        {{ pet.name }}
        {{ pet.animaltype }}
        {{ pet.age }}
        <!-- context['pet_photos'] = {pet1: [photo1, photo2, photo3], pet2: [photo1, photo2]} -->
        <h1>{{ pet.name }} Photos</h1>
        {% for pet, pet_photos in pet_data.items %}
            <h2>{{ pet.name }}</h2>
            {% for pet_photo in pet_photos %}
                {{ pet_photo.photo.url }}
                <img src="{{ pet_photo.photo.url }}" alt="{{ pet_photo.title }}">
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}