{% extends "base.html" %}
{% block header %}
{% endblock %}
{% block content %}
    {{ owner.name }}
    {{ owner.age }}
    {{ owner.location }}
    {{ owner.profile_photo }}
    {% for pet in owner.pets.all %}
        {{ pet.name }}
        {{ pet.animaltype }}
        {{ pet.age }}
        <!-- context['pet_photos'] = {pet1: [photo1, photo2, photo3], pet2: [photo1, photo2]} -->
        <h1>{{ pet.name }} Photos</h1>
        {% for pet, photos in pet_data.items %}
            <h2>{{ pet.name }}</h2>
            {% for photo in photos %}
                {{ photo.photo.url }}
                <img src="{{ photo.photo.url }}" alt="{{ photo.title }}">
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock %}